black>=21.7b0
fastapi>=0.68.0
flake8>=3.9.2
isort>=5.9.3
motor>=2.5.1
passlib[bcrypt]>=1.7.4
pre-commit>=3.5.0
pydantic>=1.8.2
pytest>=6.2.5
python-dotenv>=0.19.0
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.5
uvicorn>=0.15.0
